<div class="user_edit__container">
  <div class="user_edit__view">
    <h2 class="user_edit__title">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="user_edit__form">
        <div class="user_edit__form__field">
          <%= f.label "Nombre:" %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first-name", class: "user_edit__form__input" %>
        </div>

        <div class="user_edit__form__field">
          <%= f.label "Apellido:" %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last-name", class: "user_edit__form__input" %>
        </div>

        <div class="user_edit__form__field">
          <%= f.label "Email:" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "user_edit__form__input" %>
        </div>

        <div class="user_edit__form__field">
          <%= f.label "Biografia:" %>
          <%= f.text_area :bio, autofocus: true, autocomplete: "bio", class: "user_edit__form__input user_edit__form__text_area" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="user_edit__form__field">
          <%= f.label "Nueva contraseña:" %> <i>(dejar en blaco si no desea cambiarla)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "user_edit__form__input" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> caracteres minimo.</em>
          <% end %>
        </div>

        <div class="user_edit__form__field">
          <%= f.label "Confirmar contraseña:" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "user_edit__form__input" %>
        </div>

        <div class="user_edit__form__field">
          <p>Para guardar, introduce tu contraseña actual</p>
          <%= f.label "Contraseña actual:" %> <i>(se necesita la contraseña actual para guardar los cambios)</i><br />
          <span class="session_form--alert_error"><%= resource.errors.full_messages_for(:current_password)[0] if resource.errors.has_key?(:current_password) %></span>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "user_edit__form__input #{resource.errors.has_key?(:current_password) ? 'color-control-form--error' : 'color-control-form'}" %>
        </div>

        <div class="user_edit__form__button">
          <%= f.submit "Actualizar" %>
        </div>
      </div>
    <% end %>
    <div class="cancel__account">
      <p>O</p>
      <%= button_to "Cancela my cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "cancel__account__button"%>
    </div>

  </div>
</div>