<%= simple_form_for(@post_comment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :comment %>
    <%= f.hidden_field :post_id %>
    <%= f.input :ranking, as: :radio_buttons, collection:[1,2,3,4,5]  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
