<%= simple_form_for(@post_comment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, label:"Título del comentario:" %>
    <%= f.input :comment, label: "Comentario: ", :input_html => { :rows => 3 , :style => 'width: 100%'} %>
    <%= f.hidden_field :post_id %>
    <%= f.input :ranking, label: "Puntuación: ", as: :radio_buttons, collection:[1,2,3,4,5]  %>
    <p>1 Pesimo - 5 Excelente</p>
  </div>

  <div class="form-actions-comment">
    <%= f.button :submit, value: "Publicar comentario" %>
  </div>
<% end %>
