<div class="own-post-card <%= post.stock == 0 ? "own-post-card--sold" : ""%>">
  <div class="ownn-post-card__image">
     <%= image_tag url_for(post.picture[0]), class: "image" %>
  </div>
  <div class="ownn-post-card__info" style="margin-left: 30px;">
    <h2 class="own-post-card__text--title own-post-card__text">
      <%= post.title %>
    </h2>
    <p class="own-post-card__text">
      <%= post.description %>
    </p>

    <p class="own-post-card__text">
      Stock: <%= post.stock %>
    </p>
  </div>
  <div class="own-post-card__actions">
  <%=button_to "Editar", edit_post_path(post.id), method: :get, class:"btn btn-primary"%>
  <%=button_to "Eliminar", delete_post_path(post.id), method: :put , class:"btn btn-danger"%>
  </div>
</div>
