<div class="container-sidebar">
  <%= render 'home/user_navbar' %>
  <section class="content">
    <div class="profile-section__title">
      <h2>Perfil</h2>
      <hr/>
    </div>
    <div class="profile__main_info">
        <%=  form_with(model: @user, url: "/users/#{@user.id}/update_cover", html:{ method: :put}, id: "form") do |f| %>
          <%= f.label :cover_photo, class:"w-100" do %>
            <%= f.file_field :cover_photo, class: "hide__field_file", onchange: "form.submit()"  %>
               <div class="profile__main_info__header">
                 <div class="profilepic profilepic__cover">
                   <% if @user.cover_photo.attached? %>
                     <%= image_tag url_for(@user.cover_photo), class: "profilepic__image" %>
                   <% else %>
                     <%= image_tag 'cover_default.png', class: "profilepic__image" %>
                   <% end %>
                   <div class="profilepic__content">
                     <span class="profilepic__icon"><i class="fa-solid fa-image"></i></span>
                     <span class="profilepic__text">Cambiar portada</span>
                     <span class="profilepic__text__sizes">950x200</span>
                   </div>
                 </div>
               </div>
          <% end %>
        <% end %>
      <div class="profile__main_info__data" id="form">
        <%= form_with(model: @user, url: "/users/#{@user.id}/update_avatar", html:{ method: :put}, id: "form") do |f| %>
          <%= f.label :avatar do%>
              <%= f.file_field :avatar, class: "hide__field_file", onchange: "form.submit()" %>
              <div class="profile__main_info__image profilepic">
                <% if @user.avatar.attached? %>
                  <%= image_tag url_for(@user.avatar), class: "profilepic__image"%>
                <% else %>
                  <%= image_tag 'default.jpg', class: "profilepic__image" %>
                <% end %>
                <div class="profilepic__content">
                  <span class="profilepic__icon"><i class="fa-solid fa-camera"></i></span>
                  <span class="profilepic__text">Cambiar avatar</span>
                  <span class="profilepic__text__sizes">200x200</span>
                </div>
              </div>
          <% end %>
        <% end %>

        <div class="profile__main_info__data_params">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <%= button_to "Editar información", edit_user_registration_path, method: :get %>
        </div>
      </div>
      <div class="profile__main_info__content">
        <h2>
          Biografia
        </h2>
        <p>
          <%= @user.bio %>
        </p>
        <h2>
          Correo
        </h2>
        <p>
          <%= @user.email %>
        </p>
        <div class="profile__buy_sell">
          <div>
            <h2>
              Productos publicados
            </h2>
            <p><%= @user.published_products %></p>
          </div>
          <div>
            <h2>
              Productos vendidos
            </h2>
            <p><%= @user.sold_products %></p>
          </div>
          <div>
            <h2>
              Productos comprados
            </h2>
            <p><%= @user.bought_produtcs %></p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
