<div class="container__card__order">

	<h1>Ticket de la orden de la compra</h1>
	<div>
		<div class="card__order card">
			<% @order.order_details.each do |d|%>
				<h2><%= truncate(d.post.title, length:18)%> </h2>
				<div class="order__image_to_show">
					<%= image_tag url_for(d.post.picture[0]), class:"image" %>
				</div>
				<p>Cantidad: <%= d.quantity%></p>
			<% end %>
			<p>Comprado el: <%= @order.created_at.strftime("%d de %B del %Y a las %H:%M") %></p>
			<h4>Importe total: <span>$<%= @order.total%></span></h4>
		</div>
	</div>
</div>
