<div class="container-cart">
 <%if @total!=0%>
  <div class="product-cart__wrapper">
    <% @carts.each do |carts|%>
      <%if carts.status%>
        <div class="product-cart">
          <div class="product-cart__image">
            <%= image_tag url_for(Post.find(carts.post_id).picture[0]), class:"image" %>
          </div>
          <div class="product-cart__details">
            <h3 class=" product-cart__text product-cart__text--title"> <%= link_to truncate(Post.find(carts.post_id).title, length: 25), post_path(carts.id) %></h3>
            <p class=" product-cart__text ">Cantidad: <%= carts.quantity%></p>
            <p class=" product-cart__text ">Precio: $<%= carts.price%></p>
          </div>
          <div class="product-cart__actions d-flex flex-wrap">
            <h4>Importe total: $<%= carts.quantity*carts.price%></h4>
            <%= button_to "Eliminar", delete_product_path(carts), class:"btn btn-danger w-100", method: :delete%>
          </div>
        </div>
      <%end%>
    <% end %>
  </div>
  <% end %>
  <%if @total==0%>
  <div class="empty-cart">
    <div class="empty-cart__image">
      <%= image_tag url_for("empty-cart.png"), class:"image" %>
    </div>
    <h1 class="empty-cart__text"> Tu carrito esta vacio </h1>
  </div>
  <%else%>
  <div class="product-cart__payment">
    <h6 class=" product-cart__text "> Total del carrito $<%=@total%></h6>
    <%=button_to "Comprar carrito", buy_cart_path, method: :put, class: "btn btn-success px-5"%>
  </div>

  <%end%>
</div>
