<% @carts.each do |carts|%>
	<div class="card">
		<p>Agregado el: <%= carts.created_at.strftime("%d de %B del %Y a las %H:%M") %></p>
		<h2><%= Post.find(carts.post_id).title%> </h2>
				<%= image_tag url_for(Post.find(carts.post_id).picture[0]), class:"image" %>
				<p>Cantidad: <%= carts.quantity%></p>
		<h4>Importe total: $<%= carts.quantity*carts.price%></h4>
	</div>
<% end %>
