<%= form_for @post do |f| %>
  <div class="form_post">

    <div class="form_post__field">
      <%= f.label "Nombre del producto", class: "bloc"%>
      <span class="form_post--alert_error"><%= @post.errors.full_messages_for(:title)[0] if @post.errors.has_key?(:title) %></span>
      <%= f.text_field :title, placeholder: "Ej. Controles de xbox", class: "form_post__input #{@post.errors.has_key?(:title) ? 'color__input--error' : 'color__input' }" %>
    </div>

    <div class="form_post__field">
      <%= f.label "Descripción del producto" %>
      <span class="form_post--alert_error"><%= @post.errors.full_messages_for(:description)[0] if @post.errors.has_key?(:description) %></span>
      <%= f.text_area :description, placeholder: "Ej. Este producto es lo siguiente...", class: "form_post__input #{@post.errors.has_key?(:description) ? 'color__input--error' : 'color__input' }"%>
    </div>

    <div class="form_post__field">
      <%= f.label "Piezas disponibles" %>
      <span class="form_post--alert_error"><%= @post.errors.full_messages_for(:stock)[0] if @post.errors.has_key?(:stock) %></span>
      <%= f.number_field :stock, placeholder: "5", class: "form_post__input #{@post.errors.has_key?(:stock) ? 'color__input--error' : 'color__input' }" %>
    </div>

    <div class="form_post__field">
      <%= f.label "Precio" %>
      <span class="form_post--alert_error"><%= @post.errors.full_messages_for(:price)[0] if @post.errors.has_key?(:price) %></span>
      <%= f.number_field :price, placeholder: "Ej. $200.00", class: "form_post__input #{@post.errors.has_key?(:price) ? 'color__input--error' : 'color__input' }" %>
    </div>

    <div class="form_post__field_radio">
      <%= f.label "Tipo de entraga" %>
      <span class="form_post--alert_error"><%= @post.errors.full_messages_for(:delivery)[0] if @post.errors.has_key?(:delivery) %></span>
      <div class="form_post__field_radio--buttons">
        <%= f.collection_radio_buttons :delivery, Post.deliveries, :first, :first, class: "form_post__input #{@post.errors.has_key?(:delivery) ? 'color__input--error' : 'color__input' }" %>
      </div>
    </div>


    <div class="form_post__field">
      <p>Agregar imagenes</p>
      <span class="form_post--alert_error"><%= @post.errors.full_messages_for(:picture)[0] if @post.errors.has_key?(:picture) %></span>
      <div>
        <%= f.label :picture, class: "form_post__field--hover" do %>
          <span class="form_post__add_items" id="add">+</span>
          <%=  f.file_field :picture, multiple: true,  onchange: 'loadFiles(event)', class: "form_post__field--input", accept: 'image/png,image/jpeg' %>
        <% end %>
      </div>
      <div class="form_post__show_images" id="upload">
      </div>

      <% if action_name == 'edit' %>
        <% if @post.picture.attached? %>
          <p>Imagenes ya almacenadas</p>
        <% else %>
          <p>Tu producto cuenta sin imagenes...agrega alagunas!</p>
        <% end %>
        <div class="form_post__show_images">
          <% @post.picture.each do |picture| %>
            <div class="form_post__container form_post__cont-checkbox ">
              <%= check_box_tag "pictures[#{picture.id}]", picture.id %>
              <%= label_tag "pictures_#{picture.id}" do %>
                <%= image_tag url_for(picture), class: "form_post__picture" %>
                <div class="form_post__delete">
                  <a class="form_post__delete__icon">
                    <i class="fa-solid fa-trash"></i>
                  </a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div>
      <%= f.button "#{action_name != 'edit' ? "Publicar" : "Editar"} producto", class: "form_post__button" %>
    </div>
  </div>
<% end %>
