<%= form_for @post do |f| %>
  <div class="form_new_post">

    <div class="form_new_post__field">
      <%= f.label "Nombre del producto", class: "bloc"%>
      <span class="form_new_post--alert_error"><%= @post.errors.full_messages[0] if @post.errors.any? %></span>
      <%= f.text_field :title, placeholder: "Ej. Controles de xbox" %>
    </div>

    <div class="form_new_post__field">
      <%= f.label "Descripción del producto" %>
      <span class="form_new_post--alert_error"><%= @post.errors.full_messages[1] if @post.errors.any? %></span>
      <%= f.text_area :description, placeholder: "Ej. Este producto es lo siguiente..."%>
    </div>


    <div class="form_new_post__field">
      <%= f.label "Precio" %>
      <span class="form_new_post--alert_error"><%= @post.errors.full_messages[2] if @post.errors.any? %></span>
      <%= f.number_field :price, placeholder: "Ej. $200.00", class: "ajs" %>
    </div>


    <div class="form_new_post__field">
      <p>Agregar imagenes</p>
      <span class="form_new_post--alert_error"><%= @post.errors.full_messages[3] if @post.errors.any? %></span>
      <div>
        <%= f.label :picture, class: "form_new_post__field--hover" do %>
          <span class="form_new_post__add_items" id="add">+</span>
          <%=  f.file_field :picture, multiple: true,  onchange: 'loadFiles(event)', class: "form_new_post__field--input", accept: 'image/png,image/jpeg' %>
        <% end %>
      </div>
      <div class="form_new_post__show_images" id="upload">
      </div>
      <div class="form_new_post__show_images">
        <% @post.picture.each do |picture| %>
          <div class="form_new_post__container" id='database'>
            <%= image_tag url_for(picture), class: "form_new_post__picture output"%>
            <div onclick="deleteImage(<%= picture.id %>)" class="form_new_post__delete">
              <a class="form_new_post__delete__icon" data-method="delete"><i class="fa-solid fa-trash"></i></a>
              <%#= link_to "<i class="'fa-solid' 'fa-trash'"></i>", delete_image_attachment_post_path(picture.id), method: :delete, class: "form_new_post__delete__icon" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <%= f.button "Publicar producto", class: "form_new_post__button" %>
    </div>
  </div>
<% end %>
