<div class="info">
  <h3 class="info__text info__text--title"><%= @post.title %></h3>
  <div class="info__ranking">
    <% @post.get_ranking.to_i.times do %>
      <i class="fa-solid fa-star info__icon star--active"></i>
    <% end %>
    <%=@post.post_comments.count%> opiniones
  </div>
  <p class="info__text info__text--price">$ <%= @post.price %></p>
  <div class="info__detail">
    <i class="fa-solid fa-location-dot info__icon info__icon--gray"></i>
    <p class="info__text">Tecoman, Col</p>
  </div>
  <div class="info__detail">
    <i class="fa-solid fa-truck info__icon--green"></i>
    <p class="info__text info__text--green"><%= @post.delivery%></p>
  </div>
  <div class="info__actions">
    <% if user_signed_in? %>
      <button type="button" class="info__button info__button--dark" data-bs-toggle="modal" data-bs-target="#buyModal">
        Comprar
      </button>
      <button type="button" class="info__button info__button--light" data-bs-toggle="modal" data-bs-target="#buyModal">
        Agregar al carrito
      </button>
    <% else %>
      <%= link_to "Comprar", new_user_session_path, class:"info__button info__button--dark" %>
      <%= link_to "Agregar al carrito", new_user_session_path, class:"info__button info__button--light" %>
    <% end %>
  </div>
</div>
