<div class="card">
  <div class="card__image">
    <%= image_tag url_for(post.picture[0]), class:"image" %>
  </div>
  <div class="card__title__post">
    <h2><%= link_to truncate(post.title, length: 18), post_path(post.id) %></h2>
  </div>
  <div class="card__features">
    <i class="fa-solid fa-tag"></i>
    <p>Hogar,</p>
    <p>Limpieza </p>
  </div>
  <div class="card__container-price">
    <span class="card--price">$<%= post.price %>.00 </span>
    <p>x 1</p>
  </div>
  <div class="stars">
    <% post.get_ranking.to_i.times do %>
      <i class="fa-solid fa-star star--active"></i>
    <% end %>
    <% (5 - post.get_ranking.to_i).times do %>
      <i class="fa-solid fa-star star"></i>
    <% end %>
    <%=post.post_comments.count%> opiniones
  </div>
  <img src="" alt="">
  <div class="card__description__post">
    <p class="card--info"><%= truncate( post.description, length:80) %> </p>
  </div>

  <div class="card__more-info">
    <%= link_to "Ver mas", post_path(post.id) %>
    <i class="fa-solid fa-circle-arrow-down"></i>
  </div>
</div>
