<div class="card">
  <div id="<%= dom_id post %>">
    <div class="card__image">
      <%= image_tag url_for(post.picture[0]) %>
    </div>
    <h2><%= link_to post.title, post_path(post.id) %></h2>
    <div class="card__container-price">
      <span class="card--price">$<%= post.price %>.00 </span>
    </div>
    <div class="stars">
      <% post.get_ranking.to_i.times do %>
        <i class="fa-solid fa-star star--active"></i>
      <% end %>
      <%=post.post_comments.count%> opiniones
    </div>
    <p class="card--info"><%= truncate( post.description, length:85) %> </p>
    <div class="card__more-info">
      <%= link_to "Ver mas", post_path(post.id) %>
      <i class="fa-solid fa-circle-arrow-down"></i>
    </div>

  </div>
</div>
