<% if @post.stock <= 0 %>
  <div class="alert alert-danger alert-dismissible fade show postion-alert" role="alert" style="margin: 0;">
    <% if @post.owner?(current_user)%>
      <div class="words__message__stock">
        <p>No tienes mas stock de este producto.</p>
        <a style="text-decoration: none; color: inherit" href="/posts/<%= @post.id %>/edit">&nbsp;Edita</a>
        &nbsp;o&nbsp;
        <%= button_to "Elimina",delete_post_path(@post) , method: :put, class: 'button__show__post' %>
      </div>
    <% else %>
      Actualmente no hay stock disponible para este productos.
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<div class="post">
  <div class="post__image">
    <%= render 'posts/images_carousel' %>
  </div>
  <div class="post__info">
    <%= render 'posts/post_info' %>
  </div>
  <div class="post__seller">
    <h4>Vendedor:  <%= link_to @post.user.first_name, user_path(@post.user_id), class:"post__text post__text--name"%></h4>
  </div>
  <div class="post__features">
    <h1>Principales caracteristicas</h1>
    <p class="post__text" style=" width: 60%; overflow-wrap: break-word;"><%= @post.description %></p>
  </div>
  <div class="post__ranking">
    <%= render 'post_comments/ranking' %>
  </div>
  <div class="post__reviews">
    <%= render partial:"comments", locals:{comments: @post.post_comments, post_id: @post.id, owner: @post.owner?(current_user)}%>
  </div>
</div>
<div>
</div>
<%= render 'orders/buy_modal' if user_signed_in?%>
<%= render 'carts/cart_modal' if user_signed_in?%>
