<div class="post">
  <div class="post__image">
    <%= render 'posts/images_carousel' %>
  </div>
  <div class="post__info">
    <%= render 'posts/post_info' %>
  </div>
  <div class="post__features">
    <h1>Principales caracteristicas</h1>
    <p class="post__text"><%= @post.description %></p>
  </div>
  <div class="post__ranking">
    <%= render 'post_comments/ranking' %>
  </div>
  <div class="post__reviews">
    <%= render partial:"comments", locals:{comments: @post.post_comments, post_id: @post.id}%>
  </div>
</div>
<div>
</div>
<%= render 'orders/buy_modal' if user_signed_in?%>
<%= render 'carts/cart_modal' if user_signed_in?%>
