<nav class="navbar navbar-light fixed-top navbar-expand-md">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand d-sm-none d-md-block d-none d-sm-block" href="/">
      <%= image_tag("logo.png", class: "header__logo") %>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Menú
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "Información", "/", class:"dropdown-item" %></li>
            <li><%= link_to "Favoritos", "/", class:"dropdown-item" %></li>
            <li><%= link_to "Compras", order_index_path, class:"dropdown-item" %></li>
            <li><%= link_to "Ventas", sold_users_path, class:"dropdown-item" %></li>
            <li><%= link_to "Mensajes", "/", class:"dropdown-item" %></li>
          </ul>
        </li>
      </ul>
      <form class="w-25">
        <input
          type="text"
          class="form-control icon_placeholder d-inline-block align-top"
          placeholder=" Busca productos"
          />
      </form>
      <ul class="navbar-nav d-flex justify-content-between">
        <li class="nav-item">
          <i class="fa-solid fa-cart-shopping nav__icon"></i>
        </li>
        <li class="nav-item">
          <i class="fa-solid fa-bell nav__icon"></i>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mi cuenta
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "Mi perfil", profile_users_path, class:"dropdown-item" %></li>
            <li><%= link_to "Cerrar sesión", destroy_user_session_path, class:"dropdown-item" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
