<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoFinalK8F22T2LocalECommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/dec85c1e0a.js" crossorigin="anonymous"></script>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true  %>
  </head>

  <body>
    <main>
<!--      <p class="notice"><%#= notice %></p>-->
<!--      <p class="alert"><%#= alert %></p>-->
      <%= yield %>
      <%#=render 'layouts/footer' %>
    </main>  
  </body>
</html>
